    <!--Header Section Start-->
    <header class="header-section header-sticky">
        <div class="container-fluid container-padding">
            <div class="header-content d-flex align-items-center justify-content-between">
                <div class="header-inner-left">
                    <div class="header-logo">
                        <a href="index.html"><img src="assets/images/logo-light-green-text.png" alt=""></a>
                    </div>
                </div>
                <div class="header-nav">
                    <ul class="d-flex">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about-us.html">About us</a>
                        </li>
                        <li>
                            <a href="products.html">Products</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-toggle d-none">
                    <div class="mobile_menu">
                        <button class="header_toggle_btn bg-transparent border-0" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvas-mobile">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header Section End-->

    <!--Mobile Menu Start-->
    <div class="offcanvas fade offcanvas-start" id="offcanvas-mobile">
        <div class="offcanvas-body">
            <div class="mobile-menu">
                <a href="#" class="logo py-3"><img src="assets/images/logo-light-green-text.png" alt="logo" class="mobile-logo"></a>
                <a href="javascript:void(0)" class="close" data-bs-dismiss="offcanvas"><i class="fas fa-xmark"></i></a>
                <ul class="mobile-nav-menu">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about-us.html">About us</a>
                    </li>
                    <li>
                        <a href="products.html">Products</a>
                    </li>
                    <li>
                        <a href="contact-us.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Mobile Menu End-->