<div class="modal fade footer-modal" id="myModal">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h6>MANA AGRO DMCC</h6>
             <h3>Food Safety Policy</h3>
             <hr class="modal-header-hr">
          </div>
          <div class="modal-body">
             <p><strong>Mana Agro DMCC </strong>ensures that all food products delivered to customers will be safe for human consumption. This commitment is upheld through continuous adherence to the stringent requirements outlined in the FSSC Scheme 22000:2018 Version 6, which necessitates a thorough and systematic assessment of every operational step. </p>
             
             <p class="my-4"><strong>WE PLEDGE TOO :</strong></p>
             
             <ul>
                <li class="d-flex">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Ensure that all the activities are aligned with consumer needs and fully comply with the requirements of our Food Safety Management System (FSMS)</strong></span>
                </li>
                <li class="d-flex ">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Provide and alocate the resources by the Senior management to fulfill the FSMS</strong></span>
                </li>
                <li class="d-flex ">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Follow the legal requirement including statutory and regulatory requirements of UAE</strong></span>
                </li>
                <li class="d-flex">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Evaluate employee competency through comprehensive assessments and tailored training programs, fostering a culture of dedication to the FSMS</strong></span>
                </li>
                <li class="d-flex">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Establish smart objectives and integratethem into department's KPI's and ensure resources required for their achievement</strong></span>
                </li>
                <li class="d-flex">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Provide adequate training to employees</strong></span>
                </li>
             </ul>
             <p class="my-4"><strong>WE ENSURE THAT :</strong></p>
             <ul>
                <li class="d-flex">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Sourcing products only from approved sources or certified suppliers, ensuring the highest standards of quality and safety.</strong></span>
                </li>
                <li class="d-flex">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Maintaining strict control over all critical  processes, meticulously documenting these controls to uphold food safety standards.</strong></span>
                </li>
                <li class="d-flex ">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Any outsourced services comply with predetermined requirements to safeguard food safety</strong></span>
                </li>
                <li class="d-flex ">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>All personnel are committed to the FSMP to ensure the continual improvement of FSMS</strong></span>
                </li>
                <li class="d-flex ">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Conducting all client-related activities, from inquiry to acceptance, in full compliance with legal obligations and Dubai Municipality guidelines</strong></span>
                </li>
             </ul>

             <p class="my-4"><strong>WE REQUIRE OUR EMPLOYEES TO :</strong></p>

             <ul>
                <li class="d-flex ">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Observe all food safety regulations and procedures followed by the organization</strong></span>
                </li>
                <li class="d-flex">
                   <i class="fa-solid fa-circle"></i>
                   <span><strong>Act responsibly to ensure the safety of themselves, their colleagues, the public, and the environment in all matters related to the FSM</strong></span>
                </li>
             </ul>
          </div>
       </div>
    </div>
 </div>