/*************** About-Us page *************/


/*************** Local Section Start *************/
.local-section {
    padding: 100px 0;

    @include screen-992 {
        padding: 40px 0;
    }
}

.local-top {
    @include portrait-phone {
        margin-bottom: 30px;
    }
}

.local-title {
    h2 {
        font-size: 45px;
        font-weight: 600;
        line-height: 35px;
        color: $common-color;
        font-family: $primary-font;
        display: inline-block;
        margin-bottom: 30px;
    }
}

.local-hr {
    hr {
        width: 90px;
        height: 5px;
        background-color: $secondary-color;
        margin: 0 auto;
        opacity: 1;
        border: 0;
    }
}

.local-subtitle {
    h6 {
        font-size: 1.4em;
        font-weight: 500;
        line-height: 1.3em;
        color: #212121;
        margin-top: 30px;
    }
}

.local-item {
    margin-bottom: 80px;

    @include screen-992 {
        margin-bottom: 30px;
    }
}

.local-content {
    padding: 65px 0 0 104px;

    @include screen-992 {
        padding: 0;
    }
}

.local-content-two {
    padding: 50px 30px 0 77px;

    @include screen-992 {
        padding: 0;
    }
}

.local-content-title {
    h2 {
        font-size: 36px;
        display: inline-block;
        margin-bottom: 20px;
    }
}

.local-thumb {
    img {
        @include screen-992 {
            width: 100%;
        }
    }
}

/*************** Local Section End *************/

/*************** Dairy Section Start *************/
.dairy-item {
    @include screen-992 {
        display: block !important;
    }
}

.dairy-left {
    width: 35%;
    background-color: $dairy-bg;
    padding: 100px 60px 60px 60px;

    h2 {
        font-size: 45px;
        color: $white-color;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

        @include portrait-phone {
            font-size: 30px;
        }
    }

    @include screen-992 {
        width: 100%;
        padding: 40px;
    }
}

.dairy-right {
    width: 65%;
    background-color: $common-color;
    padding: 50px;
    position: relative;

    &::before {
        left: 25%;
        position: absolute;
        bottom: 22px;
        width: auto;
        font-size: 130px;
        transform: translateX(-50%);
        content: "\f0dd";
        font-family: 'fontawesome';
        line-height: 0;
        color: $common-color;

        @include screen-992 {
            left: 50%;
        }
    }

    p {
        color: $white-color;
        font-size: 21px;
        font-weight: 600;
        font-family: $main-font;
        line-height: 35px;
        letter-spacing: -0.25px;
    }

    @include screen-992 {
        width: 100%;
    }
}

/*************** Dairy Section End *************/

/*************** Mana Section Start *************/
.mana-section {
    padding: 120px 0;

    @include screen-768 {
        padding: 60px 0;
    }
}

.mana-title {
    h2 {
        font-size: 45px;
        margin-bottom: 30px;
    }
}

.mana-subtitle {
    p {
        font-size: 1.4em;
        line-height: 1.3em;
        font-weight: 500;
        color: #212121;
        font-family: $main-font;
    }
}

.mana-content {
    @include screen-992 {
        text-align: center !important;
    }
}

.mana-content-top {
    h3 {
        font-family: 32px;
        font-weight: 800;
        letter-spacing: 1px;
        font-family: $primary-font;
        color: $dairy-bg;
        margin-bottom: 7px;
        text-transform: uppercase;
    }

    p {
        font-size: 21px;
        font-weight: 600;
        line-height: 30px;
        font-family: $primary-font;
    }
}

.mana-content-text {
    h3 {
        text-transform: none;
    }
}

.mana-content-hr {
    span {
        border: 2px dashed $secondary-color;
        display: inline-block;
        width: 100%;
    }
}

.mana-thumb {
    @include screen-992 {
        text-align: center;
    }
}

/*************** Mana Section End *************/