/*************** Contact-Us page *************/

.contact-breadcrumb-title {
    @include screen-992 {
        font-size: 55px !important;
        line-height: 35px;
    }

    @include screen-768 {
        font-size: 45px !important;
        line-height: 30px;
    }

    @include screen-460 {
        font-size: 37px !important;
        line-height: 30px;
    }
}


.contact-inner-item {
    background-color: transparent !important;
}

.contact-inner-title {
    h2 {
        color: $primary-color;

        @include portrait-phone {
            font-size: 33px;
        }
    }
}

.contact-inner-subtitle {
    p {
        color: $primary-color;
        font-family: $primary-font;
        margin-top: 20px;
        margin-bottom: 50px;
        max-width: 470px;
    }
}

.contact-inner-card {
    gap: 50px;

    @include large-screen {
        gap: 1px;
    }

    @include screen-992 {
        gap: 150px;
    }

    @include screen-768 {
        display: block !important;
    }
}

.contact-address-icon {
    span {
        i {
            color: $secondary-color;
        }
    }
}

.contact-address-content {
    h6 {
        color: $primary-color;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: -0.25px;
        text-transform: uppercase;
    }

    hr {
        width: 20px;
        height: 2px;
        background-color: $secondary-color;
        margin-bottom: 15px;
        opacity: 1;
        border: 0;
    }

    p {
        color: $primary-color;
        line-height: 24px;
        font-weight: 400;
        font-family: $paragraph-font;
        max-width: 180px;

        @include screen-768 {
            max-width: 400px;
            margin-bottom: 30px;
        }
    }
}

.contact-inner-icon {
    span {
        i {
            color: $secondary-color;
        }
    }
}

.contact-inner-phone {
    h6 {
        color: $primary-color;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: -0.25px;
    }

    a {
        color: $primary-color;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: $paragraph-font;
        max-width: 180px;

        @include screen-1100 {
            font-size: 13px;
            line-height: 20px;
        }

        @include screen-992 {
            font-size: 16px;
            line-height: 24px;
        }
    }
}