/*************** Products page *************/
.product-inner-section {
    background-color: #41B799;
    position: relative;

    &::before {
        position: absolute;
        bottom: 22px;
        width: auto;
        font-size: 130px;
        transform: translateX(-50%);
        content: "\f0dd";
        font-family: 'fontawesome';
        line-height: 0;
        color: #41B799;
        left: 50%;
    }
}

.product-inner-top {
    h2 {
        @include screen-400 {
            font-size: 38px;
        }
    }
}

/******* Powder Section Start *********/
.powder-section {
    padding: 120px 0 80px 0;

    @include screen-768 {
        padding: 60px 0;
    }
}

.powder-top {
    h2 {
        font-size: 45px;
        font-weight: 800;
        color: $primary-color;
        margin-bottom: 130px;
    }
}

.powder-thumb {
    flex-shrink: 0;
    position: relative;

    &::before {
        position: absolute;
        top: 32px;
        width: auto;
        font-size: 200px;
        transform: rotate(-180deg);
        content: "\f0dd";
        font-family: 'fontawesome';
        line-height: 0;
        color: $common-color;
        left: 30%;
        z-index: -1;

        @include large-screen {
            left: 20%;
        }

        @include screen-992 {
            left: 35%;
        }
    }

    @include screen-992 {
        img {
            width: 100%;
        }
    }
}

.powder-content-wrapper {
    margin-top: -75px;

    @include screen-992 {
        margin-top: 0;
    }

    .nav-wrapper {
        nav {
            .nav {
                display: flex;
                max-width: 100%;

                .nav-tab {
                    display: inline-block;
                    width: 33.3333%;

                    a {
                        color: $white-color;
                        background-color: $secondary-color;
                        padding: 20px 28px;
                        font-size: 27px;
                        font-weight: 700;
                        font-family: $main-font;
                        line-height: 35px;
                        letter-spacing: -0.25px;
                        transition: 0.3s;

                        &:hover {
                            color: $primary-color;
                        }

                        @include large-screen {
                            font-size: 20px;
                            padding: 15px;
                        }

                        @include portrait-phone {
                            font-size: 14px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}

.nav-wrapper nav .nav .nav-link.active {
    background-color: $white-color !important;
    color: $primary-color !important;
}

.content-wrapper {
    padding: 35px 28px;
    background-color: $white-color;
    box-sizing: border-box;

    @include screen-768 {
        padding: 15px;
    }

    h5 {
        font-size: 17px;

        @include portrait-phone {
            font-size: 15px;
        }
    }
}

/******* Powder Section End *********/

/******* Protein Section Start *********/
.protein-section {
    background-color: $common-color;
    padding: 80px 0;

    @include screen-768 {
        padding: 50px 0;
    }
}

.protein-title {
    h2 {
        color: $secondary-color;
        font-size: 45px;
        font-weight: 800;
        letter-spacing: 1px;
        max-width: 350px;

        @include large-screen {
            font-size: 40px;
            max-width: 400px;
        }

        @include screen-400 {
            font-size: 35px;
        }
    }
}

.protein-content {
    p {
        color: $white-color;
        font-size: 21px;
        font-weight: 500;
        line-height: 35px;
        font-family: $main-font;
    }
}

/******* Protein Section End *********/

/******* Number Section Start *********/
.number-section {
    padding: 60px 0 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;

    @include screen-768 {
        padding: 40px 0;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $common-color;
        opacity: .60;
        z-index: -1;
    }
}

.number-content-title {
    h3 {
        font-size: 27px;
        line-height: 35px;
        color: $white-color;
        margin-bottom: 20px;
    }
}

.number-content-hr {
    hr {
        width: 43px;
        height: 4px;
        background-color: $secondary-color;
        opacity: 1;
        border: 0;
    }
}

.number-content-subtitle {
    p {
        color: $white-color;
        margin-top: 20px;
    }
}

/******* Number Section End *********/

/******* Cheese Section Start *********/
.cheese-section {
    padding: 80px 0;

    @include screen-768 {
        padding: 40px 0;
    }
}

.cheese-content {
    h2 {
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    p {
        font-size: 21px;
        font-weight: 500;
        line-height: 35px;
        color: $primary-color;
        font-family: $main-font;
    }
}

/******* Cheese Section End *********/

/******* Milk Section Start *********/
.milk-section {
    background-color: $secondary-color;
    padding: 60px 0;
    position: relative;

    @include screen-768 {
        padding: 35px 0;
    }

    &::before {
        position: absolute;
        bottom: 26px;
        width: auto;
        font-size: 140px;
        transform: translateX(-50%);
        content: "\f0dd";
        font-family: 'fontawesome';
        line-height: 0;
        color: $secondary-color;
        left: 50%;


    }
}

.milk-content {
    h2 {
        color: $white-color;
        font-size: 45px;
        font-family: $primary-font;
        font-weight: 800;
        letter-spacing: 0;
    }
}

/******* Milk Section End *********/
.section-padding {
    padding: 18px 0;
    background-color: $white-color;
}

/******* Butter Section Start *********/
.butter-section {
    padding: 60px 0 80px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    @include screen-768 {
        padding: 40px 0;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $white-color;
        opacity: .7;
        z-index: -1;
    }
}

.butter-content-order {
    display: flex;
    flex-direction: column;

    @include screen-992 {
        flex-direction: column-reverse;
    }
}

.butter-content-thumb {
    overflow: hidden;

    &:hover {
        img {
            transform: scale(1.1);
        }
    }

    @include screen-992 {
        img {
            width: 100%;
        }
    }
}

.butter-content-thumb-margin {
    @include screen-992 {
        margin-bottom: 20px;
    }
}

.butter-content-title {
    h6 {
        color: $common-color;
    }
}

.butter-content-hr {
    hr {
        width: 43px;
        height: 4px;
        background-color: $secondary-color;
        opacity: 1;
        border: 0;
    }
}

.butter-content-subtitle {
    p {
        color: $common-color;
        margin-top: 30px;
    }
}

/******* Butter Section End *********/

/******* Order Section Start *********/
.order-section {
    background-color: $secondary-color;
    padding: 80px 0;

    @include screen-768 {
        padding: 60px 0;
    }
}

.order-title {
    h2 {
        font-size: 38px;
        color: $white-color;
        font-family: $primary-font;
        text-transform: uppercase;
    }

    @include screen-768 {
        text-align: center !important;
    }
}

.order-btn {
    background-color: $common-color !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    letter-spacing: 3.3px;
    font-size: 16px !important;
    padding: 15px 49px !important;
    transition: 0.3s;

    &:hover {
        background-color: $white-color !important;
        color: $primary-color !important;
    }
}

/******* Order Section End *********/