/******** Breadcrumb Section Start ******/
.breadcrumb-content {
    position: relative;
    margin-top: -85px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 270px 0;
    z-index: 1;
    
    @include screen-992 {
        margin-top: 0;
        padding: 200px 0;
    }

    @include screen-768 {
        padding: 150px 0;
    }

    @include portrait-phone {
        padding: 70px 0;
    }

}

.breadcrumb-title {
    a {
        color: $white-color;
        font-size: 62px;
        font-weight: 700;
        font-family: $main-font;
        text-shadow: 1px 1px 2px rgba(0,0,0,.4);
        line-height: 40px;
        letter-spacing: -0.25px;
        @include portrait-phone {
            font-size: 52px;
        }
    }
}
/******** Breadcrumb Section End ******/